/mi.void/xorg/suckless/dwm-6.8.
/mi.void/xorg/suckless/st-0.9.3
/mi.void/xorg/suckless/dmenu-5.4
/mi.void/xorg/suckless/dwm-6.8.tar.gz
/mi.void/xorg/suckless/st-0.9.3.tar.gz
/mi.void/xorg/suckless/dmenu-5.4.tar.gz

/mi.astro/dist/
/mi.astro/.astro/
/mi.astro/node_modules/
/mi.astro/package-lock.json
